bgpControlPlane:
  enabled: true
devices: "eth0 ens18"

cgroup:
  autoMount:
    enabled: false
  hostRoot: /sys/fs/cgroup
endpointRoutes:
  enabled: true

externalIPs:
  enabled: true
gatewayAPI:
  enabled: true
  enableAlpn: true
  enableAppProtocol: true
ingressController:
  enabled: true
  default: true
  loadbalancerMode: shared
  service:
    annotations:
      io.cilium/lb-ipam-ips: 10.11.100.1
# https://docs.cilium.io/en/stable/network/concepts/ipam/
ipam:
  mode: kubernetes
#ipv4NativeRoutingCIDR: 10.10.130.0/24
# Talos specific
# https://www.talos.dev/latest/kubernetes-guides/configuration/kubeprism/
k8sServiceHost: localhost
k8sServicePort: 7445
kubeProxyReplacement: true
loadBalancer:
  algorithm: maglev
securityContext:
  capabilities:
    ciliumAgent:
      [
        CAP_NET_BIND_SERVICE,
        CHOWN,
        KILL,
        NET_ADMIN,
        NET_RAW,
        IPC_LOCK,
        SYS_ADMIN,
        SYS_RESOURCE,
        DAC_OVERRIDE,
        FOWNER,
        SETGID,
        SETUID,
      ]
    cleanCiliumState: [CAP_NET_BIND_SERVICE, NET_ADMIN, SYS_ADMIN, SYS_RESOURCE]
