instance:
  distribution:
    # renovate: depName=controlplaneio-fluxcd/distribution datasource=github-releases
    version: 2.7.5
  cluster:
    networkPolicy: false
  components:
    - source-controller
    - kustomize-controller
    - helm-controller
    - notification-controller
  sync:
    kind: GitRepository
    url: https://github.com/bvierra/homelab-k8s.git
    ref: refs/heads/master
    path: manifests/clusters/k8s/flux-system
    interval: 1h
  commonMetadata:
    labels:
      app.kubernetes.io/name: flux
  kustomize:
    patches:
      # Increase the number of workers
      - patch: |
          - op: add
            path: /spec/template/spec/containers/0/args/-
            value: --concurrent=10
          - op: add
            path: /spec/template/spec/containers/0/args/-
            value: --requeue-dependency=5s
        target:
          kind: Deployment
          name: (kustomize-controller|helm-controller|source-controller)
      # Increase the memory limits
      - patch: |
          apiVersion: apps/v1
          kind: Deployment
          metadata:
            name: all
          spec:
            template:
              spec:
                containers:
                  - name: manager
                    resources:
                      limits:
                        memory: 384Mi
        target:
          kind: Deployment
          name: (kustomize-controller|helm-controller|source-controller)
      # Reduce notification-controller memory limit
      - patch: |
          apiVersion: apps/v1
          kind: Deployment
          metadata:
            name: notification-controller
          spec:
            template:
              spec:
                containers:
                  - name: manager
                    resources:
                      limits:
                        memory: 128Mi
        target:
          kind: Deployment
          name: notification-controller
      # Enable in-memory kustomize builds
      - patch: |
          - op: add
            path: /spec/template/spec/containers/0/args/-
            value: --concurrent=20
          - op: replace
            path: /spec/template/spec/volumes/0
            value:
              name: temp
              emptyDir:
                medium: Memory
        target:
          kind: Deployment
          name: kustomize-controller
      # Enable Helm repositories caching
      - patch: |
          - op: add
            path: /spec/template/spec/containers/0/args/-
            value: --helm-cache-max-size=10
          - op: add
            path: /spec/template/spec/containers/0/args/-
            value: --helm-cache-ttl=60m
          - op: add
            path: /spec/template/spec/containers/0/args/-
            value: --helm-cache-purge-interval=5m
        target:
          kind: Deployment
          name: source-controller
      # Flux near OOM detection for Helm
      - patch: |
          - op: add
            path: /spec/template/spec/containers/0/args/-
            value: --feature-gates=OOMWatch=true
          - op: add
            path: /spec/template/spec/containers/0/args/-
            value: --oom-watch-memory-threshold=95
          - op: add
            path: /spec/template/spec/containers/0/args/-
            value: --oom-watch-interval=500ms
        target:
          kind: Deployment
          name: helm-controller
