---
# yaml-language-server: $schema=https://schemas.budimanjojo.com/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &name prometheus-operator-crds
  namespace: monitoring
spec:
  interval: 1h
  retryInterval: 2m
  timeout: 5m
  prune: true
  commonMetadata:
    labels:
      app.kubernetes.io/name: *name
  path: ./manifests/apps/monitoring/prometheus-operator-crds/base/
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
