# manifests/cluster/flux-system/cilium.yaml
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: cluster-apps
  namespace: flux-system
spec:
  deletionPolicy: WaitForTermination
  interval: 10m0s
  prune: true
  path: ./manifests/apps
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  wait: false
