---
# yaml-language-server: $schema=https://schemas.budimanjojo.com/source.toolkit.fluxcd.io/ocirepository_v1beta2.json
apiVersion: source.toolkit.fluxcd.io/v1
kind: OCIRepository
metadata:
  name: kubernetes-reflector
spec:
  interval: 30m
  timeout: 60s
  url: oci://ghcr.io/emberstack/helm-charts/reflector
  ref:
    tag: 10.0.2
  layerSelector:
    mediaType: application/vnd.cncf.helm.chart.content.v1.tar+gzip
    operation: copy
---
# yaml-language-server: $schema=https://schemas.budimanjojo.com/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: kubernetes-reflector
spec:
  interval: 1h
  timeout: 5m
  chartRef:
    kind: OCIRepository
    name: kubernetes-reflector
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 5
  valuesFrom:
    - kind: ConfigMap
      name: reflector-values
