---
# yaml-language-server: $schema=https://schemas.budimanjojo.com/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: cilium
spec:
  interval: 1h
  timeout: 30m
  chartRef:
    kind: OCIRepository
    name: cilium
    namespace: flux-system
  valuesFrom:
    - kind: ConfigMap
      name: cilium-values
