.env
artifacts/
bootstrap/talos/clusterconfig/*
bootstrap/talos/patches/cilium-values.yaml
bootstrap/tofu/*/terraform.tfstate
bootstrap/tofu/*/terraform.tfstate.backup
bootstrap/tofu/*/.terraform
bootstrap/tofu/*/.auto.tfvars
