---
# yaml-language-server: $schema=https://schemas.budimanjojo.com/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: cert-manager
  namespace: cert-manager
spec:
  interval: 1h
  timeout: 5m
  chartRef:
    kind: OCIRepository
    name: jetstack
    namespace: flux-system
  valuesFrom:
    - kind: ConfigMap
      name: cert-manager-values
