---
# yaml-language-server: $schema=https://schemas.budimanjojo.com/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: cert-manager
  namespace: cert-manager
  labels:
    manifests.vierra.host/file-location: manifests/apps/cert-manager/cert-manager/base/helmrelease.yaml
spec:
  chartRef:
    kind: OCIRepository
    name: jetstack
    namespace: flux-system
  interval: 10m
  install:
    crds: CreateReplace
    strategy:
      name: RetryOnFailure
  upgrade:
    cleanupOnFail: true
    crds: CreateReplace
  timeout: 5m
  valuesFrom:
    - kind: ConfigMap
      name: cert-manager-values
