---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &name infisical
  namespace: external-secrets
spec:
  interval: 1h
  retryInterval: 2m
  timeout: 5m
  prune: true
  commonMetadata:
    labels:
      app.kubernetes.io/name: *name
  path: ./manifests/apps/external-secrets/infisical/app
  sourceRef:
    kind: GitRepository
    name: homelab
    namespace: flux-system
  targetNamespace: external-secrets
