replicaCount: 1
image:
  repository: docker.io/emberstack/kubernetes-reflector
  pullPolicy: IfNotPresent


cron:
  enabled: false

configuration:
  logging:
    minimumLevel: Information
  watcher:
    timeout: ""
  kubernetes:
    skipTlsVerify: false

rbac:
  enabled: true

serviceAccount:
  create: true

podSecurityContext:
  fsGroup: 2000

securityContext:
  capabilities:
    drop:
      - ALL
  readOnlyRootFilesystem: true
  runAsNonRoot: true
  runAsUser: 1000

livenessProbe:
  httpGet:
    path: /health/live
    port: http
  timeoutSeconds: 10
  initialDelaySeconds: 5
  periodSeconds: 10
  failureThreshold: 5
readinessProbe:
  httpGet:
    path: /health/ready
    port: http
  timeoutSeconds: 10
  initialDelaySeconds: 5
  periodSeconds: 10
  failureThreshold: 5
startupProbe:
  httpGet:
    path: /health/ready
    port: http
  timeoutSeconds: 10
  initialDelaySeconds: 5
  periodSeconds: 10
  failureThreshold: 5

resources:
  limits:
    cpu: 100m
    memory: 128Mi
  requests:
    cpu: 100m
    memory: 128Mi

autoscaling:
  enabled: true
  minReplicas: 1
  maxReplicas: 4
  targetCPUUtilizationPercentage: 80
  # targetMemoryUtilizationPercentage: 80
