---
# yaml-language-server: $schema=https://schemas.budimanjojo.com/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: kubernetes-reflector
spec:
  interval: 1h
  timeout: 5m
  chartRef:
    kind: OCIRepository
    name: emberstack
    namespace: flux-system
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 5
  valuesFrom:
    - kind: ConfigMap
      name: reflector-values
