---
# yaml-language-server: $schema=https://raw.githubusercontent.com/SchemaStore/schemastore/master/src/schemas/json/kustomization.json
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
metadata:
  name: cert-manager
  namespace: cert-manager
  labels:
    manifests.vierra.host/file-location: "manifests_apps_cert-manager_cert-manager_base_kustomization.yaml"
resources:
  - ./cloudflare/secret.sops.yaml
  - ./helmrelease.yaml
  - ./referencegrant.yaml
configMapGenerator:
  - name: cert-manager-values
    namespace: cert-manager
    files:
      - values.yaml=./helm/values.yaml
configurations:
  - ./helm/kustomizeconfig.yaml
